.grid {
  display: grid;
}

.single {
  grid-template-columns: auto;
}

.five-columns {
  grid-template-columns: auto auto auto auto auto;
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: auto;
  }

  .five-columns a {
    display: block;
  }
}
